footer {
    text-align: center;
    padding: 64px 0 86px;
    position: relative;
}

footer .u-center {
    padding-top: 32px;
}

/* .u-center {
    max-width: 100%;
    margin: 0 auto;
    padding:0 16px;
} */

footer a {
    margin-left: 16px;
}

a {
    text-decoration: inherit;
    color: #eee;
}

.footer-icon {
    width: 36px;
    height: 36px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    top: 9rem;
    left: 0;
    right: 0;
    margin: auto;
}